<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/list.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="center">
                <ul>
                    <li class="topImage">
                        <a href="/api/ocr/exhibition_index">
                            <img src="/static/images/houtui.png" alt="">
                        </a>
                    </li>
                    <li class="topText">
                        病例报告
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <ul>
                <li>
                    <a>
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                        	<p>门诊(急诊)病例</p>
                        	<p><img src="" alt="">2017.02.22</p>
                       	</div>
                       	<span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                        	<p>处方单据</p>
                        	<p><img src="" alt="">2017.02.22</p>
                       	</div>
                       	<span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                            <p>出访记录</p>
                            <p><img src="" alt="">2017.02.22</p>
                        </div>
                        <span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
