<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/list.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="center">
                <ul>
                    <li class="topImage">
                        <a href="/api/ocr/exhibition_index">
                            <img src="/static/images/houtui.png" alt="">
                        </a>
                    </li>
                    <li class="topText">
                        自助理赔
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <ul>
                <li>
                    <a class="unLookColor">
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                        	<p>保险/身份说明</p>
                        	<p><img src="" alt="">2017.02.22</p>
                       	</div>
                       	<span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
                <li>
                    <a class="unLookColor">
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                        	<p>理疗费用明细清单/处方</p>
                        	<p><img src="" alt="">2017.02.22</p>
                       	</div>
                       	<span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
                <li>
                    <a class="unLookColor">
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                            <p>理疗费用原始凭据</p>
                            <p><img src="" alt="">2017.02.22</p>
                        </div>
                        <span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
                <li>
                    <a class="unLookColor">
                        <div class="iconImage floatL">
                            <img src="/static/images/资料.png" alt="">
                        </div>
                        <div class="listText floatL">
                            <p>门(急)诊病例</p>
                            <p><img src="" alt="">2017.02.22</p>
                        </div>
                        <span class="rightImage"><img src="/static/images/更多.png" alt=""></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
